body {

}

.container {
    width:1000px;
    margin: 0 auto;
}

header {
    width:1000px;


}

nav {
    background-color:#3e7ca5 ;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
}

nav ul {
	padding: 0;
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline;
	margin: 0 15px;
	
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
	color: #000;
}

a:hover {
	color: #999;
}

a:active {
	color: #cc3300;
}

.top {
	border: 2px solid black;
	width: 500px;
	height: 500px;
	float: left;
	padding: 5px;
	margin-bottom: 10px;
}

.bottom {
	border: 2px solid #000000;
	width: 500px;
	height: 200px;
	float: left;
	padding: 5px;
}

aside {
	width: 300px;
	height: 700px;
	background-color: #3e7ca5;
	float: right;
	padding: 5px;
}

footer {
	clear: both;
	padding: 5px;
}

